<div ng-controller="SalesforceUpdateController" class="container form-group">
    <br>
            <div ng-controller="SalesforceUpdateController">
                <!--<h4>selectedDcName:  {{selectedDcName[0].name}}</h4>-->
                <form name="form" ng-submit="postUpdate();">
                    <div class="form-group">
                        <br>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="opportunityIdSearch">Opportunity Lookup</label>
                                    <input id="opportunityIdSearch" name="opportunityIdSearch" type="text" placeholder="enter opportunity id" class="form-control" ng-model="opportunityIdSearch"/>
                                </div>
                                <div class="col-sm-1">
                                    <input type="button" id="searchButton" style="margin-top: 37px;" value="Search" ng-click="getOpportunityDetails(opportunityIdSearch)" />
                                </div>
                            </div>
                            <div class="row">
                                    <legend><strong>Salesforce Opportunity</strong> </legend>
                                    <div class="col-sm-2" ng-show="!isAdmin">
                                        <label for="opportunityId">Opportunity ID</label>
                                        <div id="opportunityId">
                                            <isteven-multi-select
                                                    input-model="opportunityIds"
                                                    output-model="selectedOpportunity"
                                                    button-label="icon name"
                                                    item-label="icon name maker"
                                                    tick-property="ticked"
                                                    selection-mode="single"
                                                    >
                                            </isteven-multi-select>
                                        </div>

                                        <br>
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="opportunityName">Opportunity Name</label>
                                        <input id="opportunityName" name="opportunityName" type="text" placeholder="opportunity name" class="form-control" ng-model="opportunityName"/>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="accountName">Account Name</label>
                                        <input id="accountName" name="accountName" type="text" placeholder="account name" class="form-control" required ng-model="accountName"/>
                                    </div>

                                    <div class="col-sm-2">
                                        <label for="solutionExecutiveName">Solution Exec Name</label>
                                        <input id="solutionExecutiveName" name="solutionExecutiveName" type="text" placeholder="solution exec" class="form-control" ng-model="solutionExecutiveName"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="solutionArchitectName">Solution Architect Name</label>
                                        <input id="solutionArchitectName" name="solutionArchitectName" type="text" placeholder="architect" class="form-control" required ng-model="solutionArchitectName"/>
                                    </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="revenueStartDate">Revenue Start Date</label>
                                    <input id="revenueStartDate" name="revenueStartDate" type="text" placeholder="revenue start date" class="form-control" ng-model="revenueStartDate"/>
                                </div>
                                <div class="col-sm-2 col-sm-offset-3">
                                    <label for="opportunityOwner">Opportunity Owner</label>
                                    <input id="opportunityOwner" name="opportunityOwner" type="text" placeholder="owner" class="form-control" required ng-model="opportunityOwner"/>
                                </div>
                                <div class="col-sm-3">
                                    <label for="industry">Industry</label>
                                    <input id="industry" name="industry" type="text" placeholder="industry" class="form-control" required ng-model="industry"/>
                                </div>
                            </div>

                            <div>
                                <legend><strong>Data Center Nomination</strong> </legend>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="noDcInTheDeal">This deal does not include any Data Centers or Data Center services</label>
                                    <input id="noDcInTheDeal" type="checkbox" ng-model="noDcInTheDeal">
                                </div>
                                <div>
                                 <div class="col-sm-9">
                                     <h6>Your Data Center nomination will be considered by the  DC Workload Placement Committee.
                                         The selection is not binding, and may be subject to change by the DC Workload Placement Committee,
                                         should a change be required or if the workload placement committee requires more information you will be notified
                                         to attend a call for further discussion. When approved by the DC Workload Placement Committee,
                                         you will receive an email notification</h6>
                                 </div>
                                </div>
                            </div>
                                    <div class="row">
                                        <br>
                                        <div class="col-sm-2">
                                            <label for="dcVendor">Data Center Vendor</label>
                                            <input id="dcVendor" name="dcVendor" type="text" placeholder="dc vendor" class="form-control" ng-model="dcVendor"/>
                                        </div>

                                        <div class="col-sm-2">
                                            <label for="regions">Region</label>
                                            <div id="regions">
                                                <isteven-multi-select
                                                        input-model="dcRegions"
                                                        output-model="selectedRegion"
                                                        button-label="icon name"
                                                        item-label="icon name maker"
                                                        tick-property="ticked"
                                                        selection-mode="single"
                                                        >
                                                </isteven-multi-select>
                                            </div>
                                        </div>

                                        <div class="col-sm-2">
                                            <label for="dcNames">DC Name</label>
                                            <div id="dcNames">
                                                <isteven-multi-select
                                                        input-model="dcList"
                                                        output-model="selectedDataCenter"
                                                        button-label="icon name"
                                                        item-label="icon name maker"
                                                        tick-property="ticked"
                                                        selection-mode="single"
                                                        >
                                                </isteven-multi-select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" style="margin-top: 20px">
                                            <input type="checkbox" ng-click="displayAllDcRecords()">Display all DC records for the selected Region
                                        </div>
                                    </div>


                                    <div class="col-sm-12">
                                        <h5>Exception Request</h5>
                                        <textarea rows="3" cols="88" data-ng-model="exceptionRequest">
                                        </textarea>
                                    </div>

                                <div class="col-sm-12">
                                    <p>
                                        If your deal requirements are not satisfied by the sites available please type in an
                                        explanation of the requirements, someone on the workload placement committee will contact you
                                    </p>
                                </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h5>Disaster Recovery Information</h5>
                                        </div>

                                            <div class="col-sm-6">
                                                <label for="isProvidingDr">This DC is providing DR services</label>
                                                <input id="isProvidingDr" type="checkbox" ng-model="computeCheckboxModel.isProvidingDr">
                                            </div>

                                            <div class="col-sm-6">
                                                <label for="drProvidedFor">DR services are provided for</label>
                                                <input id="drProvidedFor" type="text" ng-model="drProvidedFor">
                                            </div>
                                    </div>

                            <div>
                                <h5>Quotable:</h5>
                                <h4>Service Offering Infrastructure for this Data Center</h4>
                                <hr>
                                <p>
                                    The following section allows the data center as well as the workload placement committee understand the types of workloads that are expected to be
                                    running in the data center.  This is informational for the data center offering and not used in the costing calculation
                                </p>

                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <h5>
                                        Platform
                                    </h5>
                                    <div style="margin-top: 45px">
                                        <hr>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <h5>
                                        Data Center & Network
                                    </h5>
                                    <hr>
                                </div>
                                <div class="col-sm-2">
                                    <h5>
                                        Service Management
                                    </h5>
                                    <hr>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="as400">AS/400</label>
                                    <input id="as400" type="checkbox" ng-model="computeCheckboxModel.as400">
                                </div>
                                <div class="col-sm-2">
                                    <label for="wan">WAN</label>
                                    <input id="wan" type="checkbox" ng-model="computeCheckboxModel.wan">
                                </div>
                                <div class="col-sm-3">
                                    <label for="assetAndConfigurationManagement">Asset & Config Mgmnt</label>
                                    <input id="assetAndConfigurationManagement" type="checkbox" ng-model="computeCheckboxModel.assetAndConfigurationManagement">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="mainframe">Mainframe</label>
                                    <input id="mainframe" type="checkbox" ng-model="computeCheckboxModel.mainframe">
                                </div>
                                <div class="col-sm-2">
                                    <label for="lan">LAN</label>
                                    <input id="lan" type="checkbox" ng-model="computeCheckboxModel.lan">
                                </div>
                                <div class="col-sm-3">
                                    <label for="enterpriseServiceDesk">Enterprise Service Desk</label>
                                    <input id="enterpriseServiceDesk" type="checkbox" ng-model="computeCheckboxModel.enterpriseServiceDesk">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="storageAsAService">StAaS</label>
                                    <input id="storageAsAService" type="checkbox" ng-model="computeCheckboxModel.storageAsAService">
                                </div>
                                <div class="col-sm-2">
                                    <label for="firewall">Firewall</label>
                                    <input id="firewall" type="checkbox" ng-model="computeCheckboxModel.firewall">
                                </div>
                                <div class="col-sm-2">
                                    <label for="clientSiteLocalSupport">Clnt Local Support</label>
                                    <input id="clientSiteLocalSupport" type="checkbox" ng-model="computeCheckboxModel.clientSiteLocalSupport">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="windowsFarm">Windows farm</label>
                                    <input id="windowsFarm" type="checkbox" ng-model="computeCheckboxModel.windowsFarm">
                                </div>
                                <div class="col-sm-2">
                                    <label for="loadBalancers">Load Balancers</label>
                                    <input id="loadBalancers" type="checkbox" ng-model="computeCheckboxModel.loadBalancers">
                                </div>
                                <div class="col-sm-2">
                                    <label for="operationalServiceManagement">Op Svc Mgmnt</label>
                                    <input id="operationalServiceManagement" type="checkbox" ng-model="computeCheckboxModel.operationalServiceManagement">
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="unixFarm">Unix farm</label>
                                    <input id="unixFarm" type="checkbox" ng-model="computeCheckboxModel.unixFarm">
                                </div>
                                <div class="col-sm-2">
                                    <label for="proxy">Proxy</label>
                                    <input id="proxy" type="checkbox" ng-model="computeCheckboxModel.proxy">
                                </div>
                                <div class="col-sm-2">
                                    <label for="remoteManagementServices">Remote Mgmnt Svc</label>
                                    <input id="remoteManagementServices" type="checkbox" ng-model="computeCheckboxModel.remoteManagementServices">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <label> </label>
                                </div>
                                <div class="col-sm-2">
                                    <label for="dns">DNS</label>
                                    <input id="dns" type="checkbox" ng-model="computeCheckboxModel.dns">
                                </div>
                                <div class="col-sm-2">
                                    <label for="serviceIntegrationAndManagement">Svc Integr & Mgmnt</label>
                                    <input id="serviceIntegrationAndManagement" type="checkbox" ng-model="computeCheckboxModel.serviceIntegrationAndManagement">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <label> </label>
                                </div>
                                <div class="col-sm-2">
                                    <label for="dataCenterBasedTouchLabor">Touch Labor</label>
                                    <input id="dataCenterBasedTouchLabor" type="checkbox" ng-model="computeCheckboxModel.dataCenterBasedTouchLabor">
                                </div>
                                <div class="col-sm-2">
                                    <label for="serviceRequestManagement">Svc Req Mgmnt</label>
                                    <input id="serviceRequestManagement" type="checkbox" ng-model="computeCheckboxModel.serviceRequestManagement">
                                </div>
                            </div>

                            <div>
                                <br>
                                <h4>kW Requirement for each contract year</h4>
                                <hr>
                            </div>

                            <div class="col-sm-1">
                                <label for="kwRequired_2016">2016</label>
                                <input id="kwRequired_2016" name="kwRequired_2016" type="text" placeholder="kW" class="form-control"  ng-model="kwRequired_2016"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="kwRequired_2017">2017</label>
                                <input id="kwRequired_2017" name="kwRequired_2017" type="text" placeholder="kW" class="form-control"  ng-model="kwRequired_2017"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="kwRequired_2018">2018</label>
                                <input id="kwRequired_2018" name="kwRequired_2018" type="text" placeholder="kW" class="form-control" ng-model="kwRequired_2018"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="kwRequired_2019">2019</label>
                                <input id="kwRequired_2019" name="kwRequired_2019" type="text" placeholder="kW" class="form-control"  ng-model="kwRequired_2019"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="kwRequired_2020">2020</label>
                                <input id="kwRequired_2020" name="kwRequired_2020" type="text" placeholder="kW" class="form-control"  ng-model="kwRequired_2020"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="kwRequired_2021">2021</label>
                                <input id="kwRequired_2021" name="kwRequired_2021" type="text" placeholder="kW" class="form-control"  ng-model="kwRequired_2021"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="kwRequired_2022">2022</label>
                                <input id="kwRequired_2022" name="kwRequired_2022" type="text" placeholder="kW" class="form-control"  ng-model="kwRequired_2022"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="kwRequired_2023">2023</label>
                                <input id="kwRequired_2023" name="kwRequired_2023" type="text" placeholder="kW" class="form-control"  ng-model="kwRequired_2023"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="kwRequired_2024">2024</label>
                                <input id="kwRequired_2024" name="kwRequired_2024" type="text" placeholder="kW" class="form-control"  ng-model="kwRequired_2024"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="kwRequired_2025">2025</label>
                                <input id="kwRequired_2025" name="kwRequired_2025" type="text" placeholder="kW" class="form-control"  ng-model="kwRequired_2025"/>
                            </div>

                            <div class-col-sm-1><label for="kwRequired_2025"></label></div>
                            <div class-col-sm-1><label for="kwRequired_2025"></label></div>
                            <br>

                            <div class="row">
                                <div>
                                    <br>
                                    <h4># of cabinets for each contract year</h4>
                                    <hr>
                                </div>
                                <div class="col-sm-1">
                                    <label for="cbRequired_2016">2016</label>
                                    <input id="cbRequired_2016" name="cbRequired_2016" type="text" placeholder="cab" class="form-control"  ng-model="cbRequired_2016"/>
                                </div>
                                <div class="col-sm-1">
                                    <label for="cbRequired_2017">2017</label>
                                    <input id="cbRequired_2017" name="cbRequired_2017" type="text" placeholder="cab" class="form-control"  ng-model="cbRequired_2017"/>
                                </div>
                                <div class="col-sm-1">
                                    <label for="cbRequired_2018">2018</label>
                                    <input id="cbRequired_2018" name="cbRequired_2018" type="text" placeholder="cab" class="form-control" ng-model="cbRequired_2018"/>
                                </div>
                                <div class="col-sm-1">
                                    <label for="cbRequired_2019">2019</label>
                                    <input id="cbRequired_2019" name="cbRequired_2019" type="text" placeholder="cab" class="form-control"  ng-model="cbRequired_2019"/>
                                </div>
                                <div class="col-sm-1">
                                    <label for="cbRequired_2020">2020</label>
                                    <input id="cbRequired_2020" name="cbRequired_2020" type="text" placeholder="cab" class="form-control"  ng-model="cbRequired_2020"/>
                                </div>
                                <div class="col-sm-1">
                                    <label for="cbRequired_2021">2021</label>
                                    <input id="cbRequired_2021" name="cbRequired_2021" type="text" placeholder="cab" class="form-control"  ng-model="cbRequired_2021"/>
                                </div>
                                <div class="col-sm-1">
                                    <label for="cbRequired_2022">2022</label>
                                    <input id="cbRequired_2022" name="cbRequired_2022" type="text" placeholder="cab" class="form-control"  ng-model="cbRequired_2022"/>
                                </div>
                                <div class="col-sm-1">
                                    <label for="cbRequired_2023">2023</label>
                                    <input id="cbRequired_2023" name="cbRequired_2023" type="text" placeholder="cab" class="form-control"  ng-model="cbRequired_2023"/>
                                </div>
                                <div class="col-sm-1">
                                    <label for="cbRequired_2024">2024</label>
                                    <input id="cbRequired_2024" name="cbRequired_2024" type="text" placeholder="cab" class="form-control"  ng-model="cbRequired_2024"/>
                                </div>
                                <div class="col-sm-1">
                                    <label for="cbRequired_2025">2025</label>
                                    <input id="cbRequired_2025" name="cbRequired_2025" type="text" placeholder="cab" class="form-control"  ng-model="cbRequired_2025"/>
                                </div>

                                <div class="col-sm-2">
                                    <span></span>
                                </div>
                            </div>

                            <div>
                                <br>
                                <h5>Non-Quotable:</h5>
                                <h4>Service Offering Infrastructure for this Data Center</h4>
                                <hr>
                                <p>
                                    The following section allows the data center as well as the workload placement committee understand the types of workloads that are expected to be
                                    running in the data center.  This is informational for the data center offering and not used in the costing calculation
                                </p>

                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <h5>
                                        Emerging Business
                                    </h5>
                                    <hr>
                                </div>
                                <div class="col-sm-2">
                                    <h5>
                                        Workplace
                                    </h5>
                                    <div style="margin-top: 45px">
                                        <hr>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="agilityPlatform">Agility Platform</label>
                                    <input id="agilityPlatform" type="checkbox" ng-model="computeCheckboxModel.agilityPlatform">
                                </div>
                                <div class="col-sm-2">
                                    <label for="myWorkstyle">My Workstyle</label>
                                    <input id="myWorkstyle" type="checkbox" ng-model="computeCheckboxModel.myWorkstyle">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="bigDataAndAnalytics">Big Data</label>
                                    <input id="bigDataAndAnalytics" type="checkbox" ng-model="computeCheckboxModel.bigDataAndAnalytics">
                                </div>
                                <div class="col-sm-2">
                                    <label for="UcaaS">UCaaS</label>
                                    <input id="UcaaS" type="checkbox" ng-model="computeCheckboxModel.UcaaS">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="bizCloudHc">Biz Cloud HC</label>
                                    <input id="bizCloudHc" type="checkbox" ng-model="computeCheckboxModel.bizCloudHc">
                                </div>
                                <div class="col-sm-2">
                                    <label></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="bizCloud">Biz Cloud</label>
                                    <input id="bizCloud" type="checkbox" ng-model="computeCheckboxModel.bizCloud">
                                </div>
                                <div class="col-sm-2">
                                    <label></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="cloudCompute">Cloud Compute</label>
                                    <input id="cloudCompute" type="checkbox" ng-model="computeCheckboxModel.cloudCompute">
                                </div>
                                <div class="col-sm-2">
                                    <label></label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="cyber">Cyber</label>
                                    <input id="cyber" type="checkbox" ng-model="computeCheckboxModel.cyber">
                                </div>
                                <div class="col-sm-2">
                                    <label></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="mobilityAndSocial">Mobility & Social</label>
                                    <input id="mobilityAndSocial" type="checkbox" ng-model="computeCheckboxModel.mobilityAndSocial">
                                </div>
                                <div class="col-sm-2">
                                    <label> </label>
                                </div>
                            </div>
                            <div>
                                <br>
                                <h4>kW Requirement for each contract year</h4>
                                <hr>
                            </div>
                            <div class="col-sm-1">
                                <label for="kwRequired_2016">2016</label>
                                <input id="kwRequired_2016_nq" name="kwRequired_2016" type="text" placeholder="kW" class="form-control"  ng-model="kwRequired_2016_nq"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="kwRequired_2017">2017</label>
                                <input id="kwRequired_2017_nq" name="kwRequired_2017" type="text" placeholder="kW" class="form-control"  ng-model="kwRequired_2017_nq"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="kwRequired_2018">2018</label>
                                <input id="kwRequired_2018_nq" name="kwRequired_2018" type="text" placeholder="kW" class="form-control" ng-model="kwRequired_2018_nq"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="kwRequired_2019">2019</label>
                                <input id="kwRequired_2019_nq" name="kwRequired_2019" type="text" placeholder="kW" class="form-control"  ng-model="kwRequired_2019_nq"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="kwRequired_2020">2020</label>
                                <input id="kwRequired_2020_nq" name="kwRequired_2020" type="text" placeholder="kW" class="form-control"  ng-model="kwRequired_2020_nq"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="kwRequired_2021">2021</label>
                                <input id="kwRequired_2021_nq" name="kwRequired_2021" type="text" placeholder="kW" class="form-control"  ng-model="kwRequired_2021_nq"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="kwRequired_2022">2022</label>
                                <input id="kwRequired_2022_nq" name="kwRequired_2022" type="text" placeholder="kW" class="form-control"  ng-model="kwRequired_2022_nq"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="kwRequired_2023">2023</label>
                                <input id="kwRequired_2023_nq" name="kwRequired_2023" type="text" placeholder="kW" class="form-control"  ng-model="kwRequired_2023_nq"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="kwRequired_2024">2024</label>
                                <input id="kwRequired_2024_nq" name="kwRequired_2024" type="text" placeholder="kW" class="form-control"  ng-model="kwRequired_2024_nq"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="kwRequired_2025">2025</label>
                                <input id="kwRequired_2025_nq" name="kwRequired_2025" type="text" placeholder="kW" class="form-control"  ng-model="kwRequired_2025_nq"/>
                            </div>
                            <div class-col-sm-1><label></label></div>
                            <div class-col-sm-1><label></label></div>
                            <br>

                            <div>
                                <br>
                                <h4># of cabinets for each contract year</h4>
                                <hr>
                            </div>
                            <div class="col-sm-1">
                                <label for="cbRequired_2016">2016</label>
                                <input id="cbRequired_2016_nq" name="cbRequired_2016" type="text" placeholder="cab" class="form-control"  ng-model="cbRequired_2016_nq"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="cbRequired_2017">2017</label>
                                <input id="cbRequired_2017_nq" name="cbRequired_2017" type="text" placeholder="cab" class="form-control"  ng-model="cbRequired_2017_nq"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="cbRequired_2018">2018</label>
                                <input id="cbRequired_2018_nq" name="cbRequired_2018" type="text" placeholder="cab" class="form-control" ng-model="cbRequired_2018_nq"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="cbRequired_2019">2019</label>
                                <input id="cbRequired_2019_nq" name="cbRequired_2019" type="text" placeholder="cab" class="form-control"  ng-model="cbRequired_2019_nq"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="cbRequired_2020">2020</label>
                                <input id="cbRequired_2020_nq" name="cbRequired_2020" type="text" placeholder="cab" class="form-control"  ng-model="cbRequired_2020_nq"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="cbRequired_2021">2021</label>
                                <input id="cbRequired_2021_nq" name="cbRequired_2021" type="text" placeholder="cab" class="form-control"  ng-model="cbRequired_2021_nq"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="cbRequired_2022">2022</label>
                                <input id="cbRequired_2022_nq" name="cbRequired_2022" type="text" placeholder="cab" class="form-control"  ng-model="cbRequired_2022_nq"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="cbRequired_2023">2023</label>
                                <input id="cbRequired_2023_nq" name="cbRequired_2023" type="text" placeholder="cab" class="form-control"  ng-model="cbRequired_2023_nq"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="cbRequired_2024">2024</label>
                                <input id="cbRequired_2024_nq" name="cbRequired_2024" type="text" placeholder="cab" class="form-control"  ng-model="cbRequired_2024_nq"/>
                            </div>
                            <div class="col-sm-1">
                                <label for="cbRequired_2025">2025</label>
                                <input id="cbRequired_2025_nq" name="cbRequired_2025" type="text" placeholder="cab" class="form-control"  ng-model="cbRequired_2025_nq"/>
                            </div>




                            <div class="col-sm-1">
                                <input type="submit" id="submit" value="Submit" />
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
</div>
